/* navregister */
@font-face {
    font-family: "font-gg";
    src: url("static/AlexBrush-Regular.ttf") format('truetype');
}
*{
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #container-nav{
    height: 6vh;
    width: auto;
    padding: 20px;
 } */
.nav-regis{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(255, 255, 255);
    color: #fff;
}

.container-panah{
    float: left;
}
#container-logo{
    width: 2vh;
    height: 50px;
    display: flex;
    margin:50px 12em 40px 25em;
    align-items: center;
}
.container-panah h3 {
    float: left;
    margin: 120px -5em 100px -1px;
    padding: 20 px;
    color: black;
    word-spacing: 2px;
    font-style: italic;
    font-size: 15px;
    font-family: 'font-gg', Arial, sans-serif;

}

#container-logo a img{
   
    height: 40px;
    width: 150px;
    
}
.container-panah h3 a:hover{
    color: red;
}
.container-panah h3 a{
    text-decoration: none;
}

#container-help{
   
    height: 5vh;
    box-sizing:9 border-box ;
    box-shadow: 0 10px 10px -20px black;
    border: 1px 2px ridge black;   
    height: 50px;
    display: flex;
    padding: 10px;
    margin:2px 6em 2px auto;

}
#container-help a img{
    float: right;
    height:45px;
    width: 100px;
    
}
@media screen and (max-width: 500px) {
    .container-nav {
        display: none;
        float: right;
        position: absolute;
        right: 0;
        left: 0;
        height: 40px;
        padding: 20px 0;
     
    }
    
}
@media screen and (max-width: 500px) {
    #container-logo {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        padding: 20px 0;
    }
    
}
@media screen and (max-width: 500px) {
    #container-help{
        display: inline-block;
        position: absolute;
        right: 0;
        left: 0;
        padding: 20px 0;
    }
    
}


/* contentregistercss */

#container-content{
    display: flex;
    background: linear-gradient(390deg, rgba(254, 254, 255,0) 49%, rgbaa(34,193,195,1) 120%);
    height: 80vh;
    width: auto;
    padding: 0 200px;
}

#container-kiri{
    float: left;
    height: 80vh;
    width: 75%;
    background: linear-gradient(348deg, rgb(254, 254, 255,0)40%, rgb(34,193,195,1) 120%);
    margin-left: -15em;
}
.logo-bk{
    height: 200px;
    width: 700px;
    margin: 180px 24.5em ;background-size:cover ;

}

#container-kanan{
    border-radius: 5px;
    background: linear-gradient(346deg, rgb(254, 254, 255) 49%, rgba(34,193,195,1) 120%);
    padding: 10px;
    width: 200%;
    margin: 1em -10em 1em 16em;
}


.img-gg{
    float: left;
    border-radius: 2px;
    height: 15px;
    margin: 20em 6em 20em -8em;
}


.regist-input {
    width:300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 4em -1em 1em 4em;
    align-items: center;
    justify-content: center;
  }

  .btn-register {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(100deg, rgb(254, 254, 255) 49%, rgba(34,193,195,1) 120%);
    text-align: center;
    margin: 3em 1em 1em 7em;
  }
  .btn-google{
    display: flex;
    width: 250px;
    height: 40px;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0px 12px;
    text-align: right;
    margin: 1em 1em 1em 7em;
    background: linear-gradient(80deg, rgb(254, 254, 255) 49%, rgba(34,193,195,1) 120%);
}
.btn-google:hover{
    color: red;
}
.btn-register:hover{
    color: red;
}

/* //login conten */
.Login-olshop{
    height: 100%;
    background: linear-gradient(14deg, rgba(238, 238, 241, 0) 49%, rgba(142, 220, 240) 120%);
}
.nav-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:rgb(255, 255, 255);
    height: 10vh;
    width: 100%;
    background:  rgba(254, 254, 255,1) ;
}

#nav-logo a img{
    padding: auto;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height:40px;
    margin:-1em 1em -1em 15em;
}

.nav-login h1 {
    padding: 20px;
    color: black;
    word-spacing: 2px;
    font-size: 15px;
    font-family: 'font-gg', Arial, sans-serif;
}
.nav-login h1 a{
    text-decoration: none;
}


.nav-login h1 a:hover{
    color: red;
}

#container-help a img{
    width: 15%;
    height: 30px;
    margin:0em 0em 0em 18em;
}

.logo-login{
    height:50px;
    width: 30%;
    margin: 10px 10px 10px 4px;
}

#content{
    height: 80vh;
    display: flex;
    padding: 10px;
    justify-content:center;
    align-items: center;
    width: 100%;

}
.login{
    height:100%;
    justify-content:center;
    align-items: center;
    display: flex;
    padding: 10px;
    width: 25%;
    border-radius: 40px 50px 40px 40px;
    flex-wrap: wrap;
    margin: 100px 10px 1px 10px;
    background: linear-gradient(100deg, rgb(254, 254, 255) 49%, rgba(34,193,195,1) 120%);
    
}
 .logolgn {
    height: 10%;
    width: 20%;
    margin: 1px 20px 1px 1px;
   /* transition: transform 2s ease-in 2s; */
   animation: animasigambar 20s ease-in 4s  infinite  alternate-reverse  ;
            
}
.login h1{
    font-family: 'font-gg', Arial, sans-serif;
    font-size:  40px;
    word-spacing: 2px;
    
}

@keyframes animasigambar{
    0% {
        transform: rotateY(90deg)

        
    }
  
   50% {
        transform: rotateX(720deg)  rotateY(360deg)   
     
    }
   
}

.login .login-input{

    width:300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin: 1em 1em -2em 1em;
}
.btn-login {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(100deg, rgb(254, 254, 255) 49%, rgba(34,193,195,1) 120%);
    text-align: center;
    justify-content: center;
    margin: 3em 1em -1em 1em;
  }
  .btn-login:hover{
    color: red;
  }
  .btn-google{

    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0px 12px;
    text-align: right;
    margin: 1em 1em 5em 1em;
    background: linear-gradient(80deg, rgb(254, 254, 255) 49%, rgba(34,193,195,1) 120%);
}

.btn-login-disabled {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(80deg, rgb(254, 254, 255) 49%, rgb(35, 42, 43) 120%);
    text-align: center;
    justify-content: center;
    margin: 3em 1em -1em 1em;
    cursor: not-allowed; 
  } 
/*nav app */


 .nav-app{
  background: linear-gradient(80deg, rgba(254, 254, 255,1) 49%, rgba(34,193,195,1) 120%);
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  align-items: center ;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px 4px rgb(12, 12, 12);
 }

 .nav-app ul {
  font-family: 'font-gg', Arial, sans-serif;
  font-size: 20px;
  display: flex;
  list-style: none;
  padding: 10px 10px;
  width: 40%;
  height: 60%;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

  margin: 1em 1em 1em 1em ;
  box-sizing: border-box;
 }
 .nav-app ul li:hover{
  cursor: pointer;
 color: red;
 }
 .img-nd{
   display: flex; 
  

    
 }
 .img-nd img{
  height: 40px;
  width: 90px;
}
.nav-app input{
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xNS44NTMgMTYuNTZjLTEuNjgzIDEuNTE3LTMuOTExIDIuNDQtNi4zNTMgMi40NC01LjI0MyAwLTkuNS00LjI1Ny05LjUtOS41czQuMjU3LTkuNSA5LjUtOS41IDkuNSA0LjI1NyA5LjUgOS41YzAgMi40NDItLjkyMyA0LjY3LTIuNDQgNi4zNTNsNy40NCA3LjQ0LS43MDcuNzA3LTcuNDQtNy40NHptLTYuMzUzLTE1LjU2YzQuNjkxIDAgOC41IDMuODA5IDguNSA4LjVzLTMuODA5IDguNS04LjUgOC41LTguNS0zLjgwOS04LjUtOC41IDMuODA5LTguNSA4LjUtOC41eiIvPjwvc3ZnPg==");
  background-color: var(--bg-offset);
  background-size: 16px 16px;
  background-position: left 10px center;
  background-repeat: no-repeat;
  padding: 1.4em 2em;
  padding-left: 2.7em;
  border: 1px solid var(--border);
  color: var(--gray);
  box-shadow: 0px 4px 6px var(--border);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 1px;
  width: 500px;
  &:hover {
      box-shadow: 0px 0px 0px var(--border);
  }
}
.dropbtn{
  background: linear-gradient(360deg, rgba(254, 254, 255,0.9) 59%, rgba(34,193,195,1) 120%);
  color: black;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 60px;
  border-radius:100%;
  font-size: 15px;
  font-family: 'font-gg', Arial, sans-serif;
  word-spacing: 4px;
  font-weight: bold;

 }
.dropdowd-user{
  display: flex;
  box-sizing: border-box;
  height: 30px;
  width: 10%;

}
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:0;

}
.img-lg{
  height: 14px;
  margin: 0 0.5em 0 -0.3em;
}
.img-profile{
  height: 14px;
  margin: 0 0.5em 0 -0.4em;
}
.dropdown-content a {

  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: red;

}



.dropdowd-user:hover .dropdown-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: linear-gradient(360deg, rgba(254, 254, 255,0.9) 59%, rgba(34,193,195,1) 200%);
  opacity: 0.8;
  
}

.dropdowd-user:hover .dropbtn {
  background-color: #3e8e41;
}
/* responsive */

 @media screen and (max-width: 576px) {
  .nav-app  {
    height: 40px;
   
   }
  .nav-app ul {
    background-color: #3e8e41;
    width: 50%;
    font-size: 10px;
    margin: 1.4em 0 1em 6.2em;
 
   }
   .nav-app input{
   display: none;
  }
  .img-nd {
    
    width: 20%;

  }
  .img-nd img{
    height: 20%;
    width: 50%;

  }
  .dropbtn{
      height: 12px;
      font-size: 6px;
  }
  .dropdowd-user{
    height: 20px;
    width: 15%;
    margin: 1em 0 0 0;
    /* align-items: center; */
  
  }
 }

  
  /* dashboard */
  #container-dashboard{
    width: 100%;
    height: 1000px;
    box-sizing: border-box;
   
   }
   .container-geser{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    height: 40%;
    width: 100%;
    background: linear-gradient(360deg, rgba(255, 255, 255,1) 49%, rgba(142, 220, 240,0.5) 120%);
    flex-direction: column;
    box-sizing: border-box;

  }
  .container-item{
    display: flex;
    height: 60%;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(255, 255, 255,1) 49%, rgba(142, 220, 240,1) 120%);
  }
   .container-barang{
    display: flex;
    justify-content: space-around;
    height:100%;
    width:100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
  }
   .content-barang{
    display: flex;
    justify-content: space-between;
    height:60%;
    width:15%;
    border-radius:5% 5% 2% 2%;
    box-shadow: 1px 1px 4px 4px rgb(12, 12, 12);
    box-sizing: border-box;
    flex-direction: column;
   }
   .content{
    height: 100%;
    width:100%;
    border-radius: inherit;
    background: linear-gradient(360deg, rgba(255, 255, 255,0) 49%, rgba(142, 220, 240,0) 120%);
 
   }
   .content .img-brng{
    height: 50%;
    width: 100%;
    border-radius:5% 5% 0% 0%;
   }
   .container-field{
    display: block;
    height:50%;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(360deg, rgba(255, 255, 255,0) 49%, rgba(142, 220, 240,0) 120%);
 
  }
  .container-field h3{
    font-weight: bold;
    font-family: 'font-gg', Arial, sans-serif;
    text-align: justify;
    font-size:  20px;
    word-spacing:5px;
  }
  .keranjang{
    width: 40px;
    height: 30px;
    border: none;
    background: linear-gradient(360deg, rgba(255, 255, 255,0) 49%, rgba(142, 220, 240,0) 120%);
    margin: 0.1em 3em;
  }
  .img-shop{
    width: 30px;
    height: 20px;
  }

  .detail{
    float: right;
    width: 40px;
    height: 30px;
    border: none;
    background: linear-gradient(360deg, rgba(255, 255, 255,0) 49%, rgba(142, 220, 240,0) 120%);
    margin:-1.8em 3em ;

  }
  .img-eyes{
    width: 30px;
    height: 30px;
  }
  .container-barang .content-barang:hover{
    position: relative;
    cursor: pointer;  
    transform: translate(0%, 5%) scale(1);
    box-shadow: 1px 1px 4px 4px rgb(12, 12, 12);
    background-color: white;
  }
  button:hover{
    cursor: pointer;
  }
   
  /*responsive dashboard */

  @media screen and (max-width: 576px) {
    .container-geser{
      height: 30%;
    }
    .content-barang{
      height: 30%;
      width: 20%;
      background-color: rebeccapurple;
    }
    .container-field h3{
      font-size:  10px;
      word-spacing:3px;
    }
    
    .img-shop{
      width: 18px;
      height: 20px;
    }
    .img-eyes{
      width: 15px;
      height: 15px;
    }
    .detail{
      float: right;
      margin:-1em 1em ;
    }
    .keranjang{
      float: left;
      margin: -1em 0.5em;
    }
   }
   #container-keranjang{
    height: 900px;
    width: 100%;
    box-sizing: border-box;
   }

   .container-keranjang{
    display: flex;

    height:70%;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
   
   }
   .content-keranjang{
    display: flex;
    height:80%;
    width: 100%;

    flex-direction:column;
    box-sizing: border-box;
    
   }
   .table-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 20px;
    background: blueviolet;
   }
   
   .table-content{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 20px 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255,0) 49%, rgba(142, 220, 240,1) 120%);
    border: 1px 2px ridge black;   
    
   }
   .table-content h3{
    padding: 10px 3px;
    margin:0em 0.5em 0 -0.5em;
   }
   .img-cart{
  
    height: 30px;
    width: 70px;
    margin:0.5em -0.9em 0 0.8em;
   }